<%-include('../header.ejs')%>
<h3><%=__('Thank you for Sign Up as Institute. We are reviewing your application. We shall get back to you after reviewing your application.')%></h3>
<%-include('../footer.ejs')%>