<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%=__('PaTeaSt')%></title>

    <meta name="description" content="PaTeaSt">
    <meta name="author" content="PaTeaSt">

    <style>
      table { font-family: arial, sans-serif;}
      @media only screen and (max-width:767px) {
        .width-full {width: 600px;}
      }
      @media only screen and (max-width:640px) {
        .width-full {width: 100%;}
      }
      @media only screen and (max-width:600px) {
        .d-block { display: inline-block;margin-bottom: 10px;  width: 16%;}
      }
      @media only screen and (max-width:550px) {
        .d-block { width: 31%;}
      }
      @media only screen and (max-width:450px) {
      .d-block-f { display: inline-block;margin-bottom: 10px;  width: 100%; text-align: center !important;}
      }
      @media only screen and (max-width:400px) {
        .d-block {  width: 36%;}
      }
      body {
        direction: <%=langDirection%>
      }
    </style>


  </head>
  <body>
    <table cellpadding="0" cellspacing="0" width="100%" border="0" style=" border-collapse: collapse; font-family:arial, sans-serif;" align="center">
      <tbody>
        <tr>
          <td align="center" style="background:#f5f6f6; padding-top:15px; padding-bottom:15px;">
            <table class="width-full" cellpadding="0" cellspacing="0" width="600" border="0" style=" border-collapse: collapse;">
              <tr>
                <td>
                  <img src="https://www.pateast.co/images/trustspot-logo.png" alt="" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding-top:60px; padding-bottom:0px;">
            <table class="width-full" cellpadding="0" cellspacing="0" width="600" border="0" style=" border-collapse: collapse;">
              <tr>
                <td style="padding-bottom:20px;">
                  <img src="https://www.pateast.co/images/pateast-logo.png" alt="" />
                </td>
              </tr>
              <tr><td>