<!DOCTYPE html>
<html>
<head>
	<title>Vehicle Pass</title>
	<style type="text/css">
		.qrcode {
			border-collapse: collapse;
		}

		.qrcode tr td {
			width: 20px;
			height: 20px;
			padding: 0;
		}
		.qrcode tr td.filled {
			background-color: black;
		}
	</style>
</head>
<body>
	<%-data.qrcode%>
</body>
</html>